.HeroData {
  height: auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  width: 100%;

  .HeroTitle {
    color: #003058;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
  }

  .HeroUpdate {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.2;
    color: #003058;
  }

  .HeroDescription {
    color: #444444;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
    max-width: 20.625rem;
  }

  @media (max-width: 768px) {
    margin: 0 auto;
    max-width: 350px;
  }

  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 50%;
  }

  @media (min-width: 992px) {
    padding-left: 1.5rem !important;
    padding-right: 0 !important;
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
